# Importing necessary modules

In [ ]:
import os
import pandas as pd # type:ignore

## Using the variables to get data in dataframes
> The abspath makes the folder appear inspite of location of the parent folder

In [2]:
raw_data_path = os.path.abspath('../data/00_raw')
interim_data_path = os.path.abspath('../data/01_interim')

__This additional step is used to clear out the excess files from the system after, the data has been extracted and stored within a SQL Database__. However the `src/data_acquisition/01_data_acquisition.py` needs to be run first as the file download verification shall fail after this.

In [3]:
for file in os.listdir(raw_data_path):
    if file.lower().endswith('.zip'):
        file_path = os.path.join(raw_data_path, file)
        if os.path.isfile(file_path):
            os.remove(file_path)
            print(f"Deleted:{file}")

## Loading all the data inside dataframes to better use this

In [4]:
cdc_data = pd.read_sas(os.path.join(raw_data_path, 'DEMO_L.xpt'))
uci_diabetes_data = pd.read_csv(os.path.join(raw_data_path, 'diabetic_data.csv'))
hdhi_admissions = pd.read_csv(os.path.join(raw_data_path, 'HDHI Admission data.csv'))
hdhi_mortality = pd.read_csv(os.path.join(raw_data_path, 'HDHI Mortality Data.csv'))
hdhi_pollution = pd.read_csv(os.path.join(raw_data_path, 'HDHI Pollution Data.csv'))
mapping_data = pd.read_csv(os.path.join(raw_data_path, 'IDS_mapping.csv'))
heading_data = pd.read_csv(os.path.join(raw_data_path, 'table_headings.csv'))

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVSTRA,SDMVPSU,INDFMPIR
0,130378.0,12.0,2.0,1.0,43.0,NaN,5.0,6.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,50055.450807,54374.463898,173.0,2.0,5.00
1,130379.0,12.0,2.0,1.0,66.0,NaN,3.0,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,29087.450605,34084.721548,173.0,2.0,5.00
2,130380.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,80062.674301,81196.277992,174.0,1.0,1.41
3,130381.0,12.0,2.0,2.0,5.0,NaN,5.0,7.0,1.0,71.0,...,2.0,2.0,2.0,3.0,NaN,38807.268902,55698.607106,182.0,2.0,1.53
4,130382.0,12.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,34.0,...,2.0,2.0,3.0,1.0,2.0,30607.519774,36434.146346,182.0,2.0,3.60